extends layout 

block variables

block content

	body(style="overflow-y: scroll")
		include include/nav-top.pug
		.container-fluid
			.row
				.col-0.col-lg-3
					include include/nav-side
				.col.ms-0.ms-lg-3.content
					.d-flex.align-items-center.justify-content-center.rounded(style="height: 350px; background: #4158D0; background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)")
						.d-flex.align-items-center.justify-content-center
							img(src="/img/logo.png" style="width: 30px; margin-top: -8px; margin-right: 12px")
							h1.text-white Social.Auth
					.p-5.text-center.d-flex.align-items-center.justify-content-center
						.px-5
							h3.pb-4 A simple Node.js / Express application for social authentication.
							div(style="font-size: 20px") Authentication is Passport JS based using Google OAuth2, Facebook, and local strategies, and uses a MySQL database to store user data upon signing up / logging in. The app also allows users to sign up with email.
