block variables

doctype html
html(lang="en")
  head
    title=title
    include include/head.pug 
  body
    script(defer src="/node_modules/@fortawesome/fontawesome-free/js/all.js")
    block content
    include include/footer.pug
    include include/scripts.pug