- const year = new Date().getFullYear()
.container-fluid
  .border-light-top.mt-5
    .px-3.text-center(style="padding: 40px 0; color: var(--color-text)")
     | Copyright &copy; #{year}. All rights reserved.