- const year = new Date().getFullYear()
.container-fluid
  .border-light-top.mt-5
    .container.text-center(style="font-size: 14px; padding: 40px 0; color: var(--color-text)")
     | Copyright &copy; #{year}. All rights reserved.