- const year = new Date().getFullYear()
.container-fluid
  .border-light-top.mt-5
    .container.text-center
      h6(style="padding: 50px 0; color: var(--color-text)") Copyright &copy; #{year}. All rights reserved.