aside.sticky-top
  .container-fluid.px-0.py-0.mb-3
    a(href="/")
      .nav-link
        img.me-3(src="/img/icon-home.svg" style="width: 16px")
        | Home
    a(href="/profile/")
      .nav-link
        img.me-3(src="/img/icon-user.svg" style="width: 16px")
        | Your Profile
    if user.user_admin == 1
      a(href="/admin/")
        .nav-link(style="margin-top: 0")
          img.me-3(src="/img/icon-settings.svg" style="width: 16px")
          | Admin
    a(href="/logout/")
      .nav-link
        img.me-3(src="/img/icon-logout.svg" style="width: 16px")
        | Logout
